body {
	font-family: 'Georgia, serif';
	color: #333333;
	margin: 0;
	font-size: 1.3em;
}

header h1 {
	font-family: 'Courier New';
	font-size: 3em;
	background-color: rgb(68, 68, 68);
	color: #ffffff;
	margin: 0 auto;
	padding: 30px 240px 30px 240px;
	font-weight: normal;
}

aside {
	padding: 30px 240px 30px 240px;
}

blockquote {
	border: 1px solid #cdcdcd;
	padding: 0.25em 1em 0.25em 1em;
	box-shadow: 10px 10px 5px #ededed;
	border-radius: 0.5em;
	color: #555555;
}

pre {
	border: 1px solid #555555;
	color: #555555;
	padding: 1em;
}

div#main {
	padding: 30px 240px 30px 240px;
}

a, a:visited  {
	color: #111111;
	font-weight: normal;
}

header h1 a, header h1 a:visited {
	color: #ffffff;
	text-decoration: none;
}

span.datestamp {
	font-size: 0.9em;
	font-style: italic;
}
