body {
	color: #333333;
	margin: 0;
	background-color: #ededed;
}

header h1 {
	font-family: 'Courier New';
	font-size: 3.5em;
	background-color: #444444;
	margin: 0;
	text-align: center;
	padding: 0.75em;
	font-weight: normal;
}

header h1 a, header h1 a:visited {
	color: #ededed;
	text-decoration: none;
}

.articletitle a, .articletitle a:visited {
	text-decoration: none;
}

div#content {
	font-family: 'Georgia, serif';
	padding: 2em 10em 2em 10em;
	font-size: 1.2em;
}

blockquote {
	border: 1px solid #cdcdcd;
	padding: 0.25em 1em 0.25em 1em;
	box-shadow: 10px 10px 5px #ededed;
	border-radius: 0.5em;
	color: #555555;
}

pre {
	border: 1px solid #cdcdcd;
	box-shadow: 10px 10px 5px #ededed;
	padding: 0.75em;
}

code {
	font-family: 'Courier New';
	color: #555555;
	font-size: 0.8em;
}

a, a:visited  {
	color: #444444;
}

span.datestamp, span.articlepermalink {
	font-size: 0.9em;
	font-style: italic;
}

